#body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    
}

header{
    display: grid;
    grid-template-columns: 150px auto;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
}

nav a {
    text-align: center;
    color: #326273;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #5A2A27;
    color: #BBB09B;
}
.home-title{
    color: #BBB09B;
}

h4{
    color: #5A2A27;
    text-align: center;

}

.book {
    background-color: antiquewhite;
    color: #5A2A27;
    text-decoration: none;
    padding: 15px 30px;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #BBB09B ;
    color: #326273;
}

.join {
    background-color: antiquewhite;
    color: #326273;
    text-decoration: none;
    padding: 15px 30px;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: darkslategray ;
    color: #5A2A27;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    gap: 10px;
    padding: 20px;
}

#hero-msg{ 
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    z-index: 2;
}

#hero-msg h1 {
    text-align: center;
    z-index: -2;
    
}

.msg h2{
    color:#326273;
}

.msg p{
    color: #5A2A27;
}

#hero-msg h4 {
    text-align: center;
    color: white;
    z-index: 1;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: blanchedalmond;
    grid-column: 1 / 11;
    grid-row: 4 / 9;
}


.msg{
    background-color:#BBB09B;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6 / 10;
    grid-row: 6 / 7;
}

footer {
    background-color: darkslategray ;
    color: antiquewhite;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color:#BBB09B;
    text-decoration: none;
}

footer a:hover{
    color: #5A2A27;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
    margin-top: 20px;
    
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: 2;
    margin-top: 80px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover{
    font-size: 1.2em;
    text-decoration: underline;
}

.logo{
    width: 80px
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}




.msg p {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
} 

h2{ 
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img{
    padding-top: 15px;

}

.rivers-card, .camping-card, .rapids-card {
    margin: 10px 0;
    border: 10px yellow;
}

.card-img {
    border: 10px;
    border-color: black;
}

main section img{ 
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}


.rivers-card {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.camping-card {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}

.rapids-card {
    grid-column: 8 / 10;
    grid-row: 2 / 3;
}


.mountains {
    grid-column: 2 / 7;
    grid-row: 5 / 8;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}

.card-img {
    border: solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width:100%;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card{
    margin: 10px;
}







@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

