#body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    
}

#header{
    background-color: rgb(252, 249, 245);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    background: rgb(215, 215, 215);
    align-items: center;
}

nav a {
    text-align: center;
    color: #326273;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #5A2A27;
    color: #BBB09B;
}
.home-title{
    color: #BBB09B;
}

h4{
    color: #5A2A27;
    text-align: center;

}

.book {
    background-color: antiquewhite;
    color: #5A2A27;
    text-decoration: none;
    padding: 15px 30px;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #BBB09B ;
    color: #326273;
}

.join {
    background-color: antiquewhite;
    color: #326273;
    text-decoration: none;
    padding: 15px 30px;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: darkslategray ;
    color: #5A2A27;
}

#hero-msg h1 {
    text-align: center;
}

.msg h2{
    color:#326273;
}

.msg p{
    color: #5A2A27;
}

#hhero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: blanchedalmond;
}

.msg{
    background-color:#BBB09B;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: darkslategray ;
    color: antiquewhite;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a{
    color:#326273;
    text-decoration: none;
}

footer a:hover{
    color: #5A2A27;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover{
    font-size: 1.2em;
    text-decoration: underline;
}

.logo{
    width: 80px
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}




.msg p {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
} 

h2{ 
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

footer .social img{
    padding-top: 15px;

}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px;
    border-color: black;
}

main section img{ 
    box-sizing: border-box;
}




