/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    padding: 20px;

    background-image: url(IMG_20200509_140754_233.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}

/* Header */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #444;
}

/* Navigation */
nav {
    text-align: center;
    background-color: #007BFF;
    padding: 10px 0;
    border-radius: 8px;
    margin-bottom: 20px;
}

nav li {
    list-style: none;
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

nav a:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav li {
        display: block;
        margin: 10px 0;
    }
}
